@media (min-width: 900px) {
    .board {
        display: flex;
        flex-direction: row;
    }
    
    .board-inner {
        display: flex;
        float: right;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        background-color:#e1e1e1;
        padding: 10px;
        width: 40%;
        height: 500px;
        margin: auto;
        margin-right: 150px;
        border-radius: 20px;
    }
    
    .title {
        display: flex;
        flex-direction: column;
    }
    
    .title h1 {
        text-align: left;
        font-size: 100px;
        color: blue;
        line-height: 50px;
        margin-left: 30%;
      }
}

@media (max-width: 899px) {

}

@media (max-width: 599px) {
    .board {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .title {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
    }

    .board-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        background-color:#e1e1e1;
        padding: 10px;
        width: 80%;
        height: 350px;
        margin: auto;
        border-radius: 20px;
    }

    .status {
        margin-bottom: 10px;
    }

    .new-game-button {
        margin-top: 30px;
    }
}