/* geral */
.board-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(235, 77, 177, 0.4);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.score {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: bold;
}

.new-game-button {
  background-color: white;
  border-radius: 999px;
  border: 0;
  color: #e9609b;
}

/* desktop */
@media (min-width: 900px) {
  .board {
    margin: 60px 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .board-inner {
    padding: 10px;
    width: 400px;
    height: 500px;
    margin: auto;
    border-radius: 20px;
  }

  .button-area {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .new-game-button {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    padding: 8px 18px;
  }

  .status {
    font-size: 20px;
    margin: auto;
    margin-top: 2px;
  }

  .score {
    font-size: 25px;
    margin-top: 10px;
  }
}

/* mobile */
@media (max-width: 899px) {
  .board-inner {
    padding: 10px;
    width: 300px;
    height: 380px;
    margin: auto;
  }

  .status {
    margin-bottom: 20px;
  }

  .button-area {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .new-game-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding: 8px 12px;
  }

  .score {
    height: 5px;
    margin-bottom: 5px;
  }
}
